body
{
	background-color: #352543;
	margin: 0;
}

div#volumeContainer, div#overlayContainer, #gameStatusIndicators
{
	float: left;
	margin: 0;
}

div#volumeContainer canvas
{
	width: 40px;
	height: 100%;
}

div#overlayContainer
{
	position: relative;
	width:    600px;
	height:   600px;
}

table#overlayGrid
{
	border-collapse: collapse;
	position: absolute;
	width: 100%;
	height: 100%;
}

#vidCanvas
{
	width: 100%;
	height: 100%;
}

table tr td
{
	border: 1px solid #000;
	text-align: center;
	width: 40px;
	height: 40px;
}

#debugContainer
{
	display: none;
	height: auto;
	float: left;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	padding-left: 1em;
}

#overlayCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

table#charges
{
	border-collapse: collapse;
}

table#charges tr td
{
	font-size: 1.25em;
	padding: 0.25em;
	width: 3em;
	vertical-align: center;
}

table#charges tr td img
{
	width:     2em;
	max-width: 2em;
}

.fullscreenOverlay
{
	background-color: #352543;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlayWindow
{
	width: 900px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	border-left: 4em solid #000;
	padding: 1.5em;
	background-color: #fff;
	
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#lobbyInterface
{
	border-left-color: #cc00ff;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

#gameOverScreen
{
	border-left-color: #cc00ff;
}

#lobbyInterface .lobbyStatus, #lobbyInterface .clientIDContainer
{
	color: #777;
	margin: 0;
	padding-top: 4em;
}

#lobbyInterface .clientIDContainer
{
	float: right;
}

#lobbyInterface .lobbyRequest h2, #lobbyInterface .lobbyRequest p, #errorMessage h2, #awaitingWebcam h2, #awaitingWebcam h3, #gameOverScreen h2
{
	text-align: center;
}

#lobbyInterface .lobbyRequest button + button
{
	margin-left: 2em;
}

#errorMessage
{
	border-left-color: red;
}

#errorMessage h1
{
	padding-bottom: 1em;
}

#errorMessage h2, #gameOverScreen h2
{
	margin-top: 0;
}

#gameOverScreen h2
{
	font-size: 1.7em;
}

.overlayWindow h1
{
	margin-top: 0;
	padding-bottom: 2em;
	font-size: 2em;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

.overlayWindow button
{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	
	margin: 1em 0;
	cursor: pointer;
	padding: 0.75em;
	border: 0.3em solid #474747;
	background-color: #e8e8e8;
}

.overlayWindow h2, .overlayWindow h3
{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
}

.overlayWindow h3
{
	margin-top: 3em;
	font-size: 1em;
}

.overlayWindow span.highlight
{
	color: #ff0000;
}

.overlayWindow img.progress
{
	display: block;
	margin: 3em auto;
	width: 64px;
	height: 64px;
}

ul.peerList
{
	margin: 0;
	padding: 0;
}

ul.peerList li
{
	cursor: pointer;
	display: block;
	padding: 1em;
	background-color: #636363;
	border-left: 1em solid #222;
	color: #fff;
}

ul.peerList li:hover
{
	border-left: 1em solid #000066;
	background-color: #283b89;
}

#gameInterfaceContainer
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	box-shadow: 0px 1em 3em 0px rgba(0, 0, 0, 0.8);
}

#gameInterfaceContainer h1#stateStatusText
{
	background: linear-gradient(135deg, #773f02 0%,#d8b66e 46%,#d8b66e 84%,#b67728 100%);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	font-family: 'Philosopher', serif;
	font-size: 2em;
	text-align: center;
	padding: 1em;
	margin: 0;
}

#gameInterfaceContainer h1#stateStatusText .timerCountdown
{
	padding-left: 1em;
}

#gameStatusIndicators
{
	background-color: #fff;
	padding: 1em;
}

.healthBar
{
	float: right;
	position: relative;
	display: inline-block;
	width: 12em;
	height: 1.5em;
	border: 1px solid #aaa;
}

.healthLevel
{
	line-height: 1.5em;
	display:     block;
	position:    absolute;
	top:         0;
	left:        0;
	width:       100%;
	height:      100%;
	text-align:  center;
	z-index:     999999;
}
